
mode=c
suffix=none
style=attach

convert-tabs
indent=tab=4
indent=force-tab=2

indent-after-parens
attach-closing-while
indent-switches
#indent-continuation=2
indent-labels
indent-preproc-block
indent-preproc-define
indent-preproc-cond
indent-col1-comments
min-conditional-indent=0
pad-oper
align-pointer=name
break-closing-braces
break-one-line-headers
add-braces
break-return-type
break-return-type-decl
max-code-length=80
